---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ hashicorp_namespace }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ hashicorp_namespace }}
  namespace: argocd
spec:
  destination:
    namespace: {{ hashicorp_namespace }}
    server: 'https://kubernetes.default.svc'
  source:
    path: .
    repoURL: 'https://github.com/hashicorp/vault-helm'
    targetRevision: master
    #helm:
    #  parameters:
    #    - name: global.openshift
    #      value: 'true'
    #    - name: server.dev.enabled
    #      value: 'false'
    helm:
      values: |-
        global:
          openshift: true
        server:
          ha:
            enabled: true
            raft:
              enabled: true
          dataStorage:
            annotations:
              argocd.argoproj.io/compare-options: IgnoreExtraneous
  project: default
  ignoreDifferences:
  - group: admissionregistration.k8s.io
    kind: MutatingWebhookConfiguration
    name: vault-agent-injector-cfg
    jsonPointers:
      - /webhooks/0/clientConfig/caBundle
